<h3>{{viewTitle}}</h3>

<form action="/tag/list">
    <div class="form-group">
        <label>Tag ID</label>
        <input type="text" class="form-control" name="writtenID" placeholder="UID">
        <!-- <div class="text-danger"> {{tag.tagIDError}} </div> -->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" onclick="findRecord"><i class="fa fa-search"></i>  Find  </button>
    </div>
</form>